body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#navigation-bar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid red;
}
#logo {
    margin-top: 0;
}
.navigation> a {
    text-decoration: none;
    color: darkblue;
}

/* Input Section */

.input-luas-section {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
}
label {
    margin-bottom: 4px;
    font-weight: bold;
}
.katik-input {
    outline: none;
    border-radius: 10px;
    padding: 8px;
    border-color: 1px solid burlywood ;
}
.katik-input:focus {
    border: red 1px solid;
}
.buttons { 
    display: flex;
    align-self: center;
    gap: 20px;
    margin-top: 10px;
}
button {
    background-color: yellow;
    color: green;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: black;
}
button:active {
    background-color: yellowgreen;
    transform: translateY(5px);
}

button:disabled {
    background-color: red;
    color: red;
}